<a href="https://colab.research.google.com/github/ayan-2025/Learning-to-Learn-Model-Regression-Network/blob/main/Learning_to_Learn_Model_Regression_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
from google.colab import drive
drive.mount('/content/drive/')
import warnings
warnings.filterwarnings('ignore')

%cd /content/drive/My Drive/Colab Notebooks/


data_set = pd.read_csv("Data_Q2.csv")
data_set.head()

Mounted at /content/drive/
/content/drive/My Drive/Colab Notebooks

   Temperature  Humidity  Wind Speed   Flow  Consumption
0        5.578     93.00       0.082  0.185  5935.174070
1       15.510     64.38       0.085  0.133  6044.657863
2       15.730     64.21       0.084  0.152  6061.944778
3       15.620     65.22       0.083  0.145  6108.043217
4       15.450     67.69       0.083  0.189  6119.567827

In [ ]:
frame2 = pd.read_csv('Data_Q2.csv')

def label_data(row):
    if row['Consumption'] <= 6500:
        return 1
    elif row['Consumption'] > 6500 and row['Consumption'] <= 7000:
        return 2
    elif row['Consumption'] > 7000 and row['Consumption'] <= 7500:
        return 3
    elif row['Consumption'] > 7500 and row['Consumption'] <= 8000:
        return 4
    elif row['Consumption'] > 8000 and row['Consumption'] <= 8500:
        return 5
    elif row['Consumption'] > 8500 and row['Consumption'] <= 9000:
        return 6
    elif row['Consumption'] > 9000:
         return 7    

frame2['Class'] = frame2.apply(lambda row: label_data(row), axis=1)

frame2

     Temperature  Humidity  Wind Speed     Flow  Consumption  Class
0          5.578     93.00       0.082    0.185  5935.174070      1
1         15.510     64.38       0.085    0.133  6044.657863      1
2         15.730     64.21       0.084    0.152  6061.944778      1
3         15.620     65.22       0.083    0.145  6108.043217      1
4         15.450     67.69       0.083    0.189  6119.567827      1
..           ...       ...         ...      ...          ...    ...
995       17.330     42.24       4.917   31.540  9443.855422      7
996        7.010     76.40       4.920   65.890  9449.638554      7
997       14.810     82.30       4.913    0.159  9449.638554      7
998       12.090     77.40       0.073    0.104  9449.638554      7
999       16.680     64.92       0.079  112.400  9449.990000      7

[1000 rows x 6 columns]

In [ ]:
#check class imbalance issue
class1_data = frame2[frame2['Class'] == 1] 
class2_data = frame2[frame2['Class'] == 2] 
class3_data = frame2[frame2['Class'] == 3] 
class4_data = frame2[frame2['Class'] == 4] 
class5_data = frame2[frame2['Class'] == 5] 
class6_data = frame2[frame2['Class'] == 6] 
class7_data = frame2[frame2['Class'] == 7] 

print( len(class1_data), len(class2_data), len(class3_data), len(class4_data), len(class5_data), len(class6_data), len(class7_data))

15 27 103 218 280 255 102

In [ ]:
from sklearn.preprocessing import StandardScaler

X = frame2.drop("Class", axis=1)

scaler = StandardScaler()

groups = frame2.groupby("Class")

for label, group in groups:
  X_group = group.drop("Class", axis=1)
  X_group_std = scaler.fit_transform(X_group)
  X.loc[X_group.index, :] = X_group_std

frame2_std = pd.concat([X, frame2["Class"]], axis=1)
frame2_std

     Temperature  Humidity  Wind Speed      Flow  Consumption  Class
0      -1.690575  1.563325   -0.508727 -0.365626    -1.925782      1
1       1.083295 -1.525195    0.581402 -0.412271    -1.304210      1
2       1.144738 -1.543541    0.218026 -0.395227    -1.206067      1
3       1.114017 -1.434547   -0.145350 -0.401507    -0.944353      1
4       1.066538 -1.167998   -0.145350 -0.362038    -0.878924      1
..           ...       ...         ...       ...          ...    ...
995     0.572096 -2.357184    1.585485 -0.112966     1.711956      7
996    -1.984162  0.416500    1.586861  0.552813     1.753338      7
997    -0.052107  0.895561    1.583650 -0.721200     1.753338      7
998    -0.725849  0.497697   -0.636763 -0.722266     1.753338      7
999     0.411091 -0.515640   -0.634011  1.454281     1.755853      7

[1000 rows x 6 columns]

In [ ]:
X = frame2_std[['Temperature','Humidity','Wind Speed','Flow']]
y = frame2_std[['Class']]

from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=42)
X_resampled, y_resampled = ros.fit_resample(X, y)

print(len(y_resampled[y_resampled['Class'] == 1]), len(y_resampled[y_resampled['Class'] == 2]), len(y_resampled[y_resampled['Class'] == 3]), len(y_resampled[y_resampled['Class'] == 4]), len(y_resampled[y_resampled['Class'] == 5]), len(y_resampled[y_resampled['Class'] == 6]), len(y_resampled[y_resampled['Class'] == 7]))

280 280 280 280 280 280 280

In [ ]:
new_data_set = np.concatenate((X_resampled, y_resampled), axis=1)
new_data_set = pd.DataFrame(new_data_set)
new_data_set.columns = ['Temperature','Humidity','Wind Speed','Flow','Class']
new_data_set

      Temperature  Humidity  Wind Speed      Flow  Class
0       -1.690575  1.563325   -0.508727 -0.365626    1.0
1        1.083295 -1.525195    0.581402 -0.412271    1.0
2        1.144738 -1.543541    0.218026 -0.395227    1.0
3        1.114017 -1.434547   -0.145350 -0.401507    1.0
4        1.066538 -1.167998   -0.145350 -0.362038    1.0
...           ...       ...         ...       ...    ...
1955     0.520079  1.488298    1.589155 -0.721917    7.0
1956     0.809887 -0.607392   -0.630799  0.153733    7.0
1957     0.215409 -0.190040    1.587779 -0.463785    7.0
1958     0.572096 -2.357184    1.585485 -0.112966    7.0
1959     0.391275 -0.203844   -0.636763  1.962095    7.0

[1960 rows x 5 columns]

Now we are making Model pair set

In [ ]:
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split as split
from sklearn.utils import resample
from sklearn.metrics import accuracy_score


model_X = []
model_y = []

for i in range(1,8):
   
   negative_examples = X_resampled[y_resampled['Class'] != i]
   num_negative_examples = 100
   negative_examples_subsampled = resample(negative_examples, n_samples=num_negative_examples, random_state=42)
   
   subsampled_X = np.vstack((X_resampled[y_resampled['Class'] == i], negative_examples_subsampled))
   subsampled_y = np.hstack((np.ones(np.count_nonzero(y_resampled['Class'] == i)), np.zeros(num_negative_examples)))
   
   random_state_C_map = {0: 0.01, 42: 0.1, 123: 1, 130: 10, 140: 100}
   
   train_X, test_X, train_y, test_y = split(subsampled_X, subsampled_y, test_size=0.1, shuffle=True, random_state=0)
   param_grid = {'C': [0.0001, 0.001, 0.01, 0.1, 1, 10]}
   svm = SVC(kernel='linear')
   grid_search = GridSearchCV(svm, param_grid, cv=5)
   grid_search.fit(train_X, train_y)
   C = grid_search.best_params_['C']
   svm = SVC(kernel='linear', C=C)
   svm.fit(train_X, train_y)
   w_1 = svm.coef_

   print("For class: ", i)
   print("Best parameters:", grid_search.best_params_)
   print("Accuracy:", grid_search.score(test_X, test_y))
   print("w_1 value: ", w_1)

   for random_state in random_state_C_map.keys():
     train_small_X, test_small_X, train_small_y, test_small_y = split(train_X, train_y, test_size=0.3, shuffle=True, random_state=random_state) #check point
     C = random_state_C_map[random_state]
     svm = SVC(kernel='linear', C=C)
     svm.fit(test_small_X, test_small_y) #check point
     w_0 = svm.coef_
     model_X.append(w_0)
     model_y.append(w_1)
     y_pred = svm.predict(train_small_X)
     acc = accuracy_score(train_small_y, y_pred)
     print('Accuracy:', acc)

For class:  1
Best parameters: {'C': 0.0001}
Accuracy: 0.7368421052631579
w_1 value:  [[ 2.36030199e-04  2.84319845e-04 -3.23671224e-05 -7.61957419e-05]]
Accuracy: 0.7238493723849372
Accuracy: 0.7447698744769874
Accuracy: 0.7573221757322176
Accuracy: 0.7364016736401674
Accuracy: 0.7531380753138075
For class:  2
Best parameters: {'C': 0.0001}
Accuracy: 0.7368421052631579
w_1 value:  [[ 1.30108352e-04  5.75706266e-05 -3.16517844e-05  1.12025210e-04]]
Accuracy: 0.7238493723849372
Accuracy: 0.7447698744769874
Accuracy: 0.7573221757322176
Accuracy: 0.7196652719665272
Accuracy: 0.7531380753138075
For class:  3
Best parameters: {'C': 0.0001}
Accuracy: 0.7368421052631579
w_1 value:  [[2.42240805e-04 6.49448912e-05 3.32207662e-05 5.48379781e-05]]
Accuracy: 0.7238493723849372
Accuracy: 0.7447698744769874
Accuracy: 0.7573221757322176
Accuracy: 0.7196652719665272
Accuracy: 0.7531380753138075
For class:  4
Best parameters: {'C': 0.0001}
Accuracy: 0.7368421052631579
w_1 value:  [[ 3.86417237e-06 -2.72897475e-06 -4.08114292e-05  1.58702480e-06]]
Accuracy: 0.7238493723849372
Accuracy: 0.7447698744769874
Accuracy: 0.7573221757322176
Accuracy: 0.7196652719665272
Accuracy: 0.7531380753138075
For class:  5
Best parameters: {'C': 0.0001}
Accuracy: 0.7368421052631579
w_1 value:  [[-8.81307193e-05  3.65247840e-06 -2.65497577e-04 -1.57187313e-05]]
Accuracy: 0.7238493723849372
Accuracy: 0.7447698744769874
Accuracy: 0.7573221757322176
Accuracy: 0.7196652719665272
Accuracy: 0.7531380753138075
For class:  6
Best parameters: {'C': 0.0001}
Accuracy: 0.7368421052631579
w_1 value:  [[ 1.12683832e-04 -3.60236961e-06  2.91432730e-05 -9.83424378e-05]]
Accuracy: 0.7238493723849372
Accuracy: 0.7447698744769874
Accuracy: 0.7573221757322176
Accuracy: 0.7196652719665272
Accuracy: 0.7531380753138075
For class:  7
Best parameters: {'C': 0.0001}
Accuracy: 0.7368421052631579
w_1 value:  [[ 2.53014642e-05  8.39672456e-05 -5.62430198e-05 -1.16042981e-04]]
Accuracy: 0.7238493723849372
Accuracy: 0.7447698744769874
Accuracy: 0.7573221757322176
Accuracy: 0.7196652719665272
Accuracy: 0.7531380753138075

Models learned from small-sample set for all classes (1 to 7)

In [ ]:
model_X = np.array(model_X)
model_X = model_X.reshape(35,4)
df = pd.DataFrame(model_X)
df.columns = ['w_01','w_02','w_03','w_04']

Models learned from large-sample set for all classes (1 to 7)

In [ ]:
model_y = np.array(model_y)
model_y = model_y.reshape(35,4)
df_ = pd.DataFrame(model_y)
df_.columns = ['w_11','w_12','w_13','w_14']

In [ ]:
X_train, X_test, y_train, y_test = split(model_X, model_y, test_size=0.1, shuffle=True, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
pip install --upgrade tensorflow

In [ ]:
from sklearn.model_selection import KFold
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization, LeakyReLU

# prepare cross validation
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

# k-fold cross validation
fold_no = 1
for train_idx, val_idx in kfold.split(X_train, y_train):
    
    X_train_fold, y_train_fold = X_train[train_idx], y_train[train_idx]
    X_val_fold, y_val_fold = X_train[val_idx], y_train[val_idx]
    
    # Define the model architecture
    model = Sequential()
    model.add(Dense(8, input_dim=X_train.shape[1]))
    model.add(LeakyReLU(alpha=0.01))
    model.add(BatchNormalization())
    model.add(Dense(8))
    model.add(LeakyReLU(alpha=0.01))
    model.add(BatchNormalization())
    #model.add(Dense(8, activation='relu')) 
    model.add(Dense(4, activation='linear'))

    #sgd = tf.keras.optimizers.SGD(learning_rate=0.005, momentum=0.9)
    # Compile the model
    model.compile(loss='mse', optimizer= 'adam', metrics=['mae', 'mse'])

    # Fit the model
    history = model.fit(X_train_fold, y_train_fold, epochs=200, batch_size=20, verbose=0, validation_data=(X_val_fold, y_val_fold))

    # Evaluate the model
    scores = model.evaluate(X_val_fold, y_val_fold, verbose=0)
    print(f'Fold {fold_no} validation accuracy: {scores[1]}')
    fold_no += 1

Fold 1 validation accuracy: 8.82914924621582
Fold 2 validation accuracy: 0.1412813812494278
Fold 3 validation accuracy: 0.048649419099092484
Fold 4 validation accuracy: 0.2620864510536194
Fold 5 validation accuracy: 0.11579570919275284

In [ ]:
test_loss = model.evaluate(X_test, y_test)
print("Test Loss:", test_loss)

1/1 [==============================] - 0s 28ms/step - loss: 0.0289 - mae: 0.1224 - mse: 0.0289
Test Loss: [0.028920521959662437, 0.1224309504032135, 0.028920521959662437]

In [ ]:
from sklearn.metrics import r2_score

y_pred = model.predict(X_test)
r2 = r2_score(y_test, y_pred)
print("Test R-squared:", r2)

1/1 [==============================] - 0s 95ms/step
Test R-squared: -227858246.1466448

In [ ]:
from sklearn.metrics import r2_score
import numpy as np

# Assuming y_true and y_pred are the true and predicted values respectively
n = len(y_test)
k = model_X.shape[1] # X is the feature matrix used to train the model
r2 = r2_score(y_test, y_pred)
adj_r2 = 1 - ((1 - r2) * (n - 1) / (n - k - 1))

print("Adjusted R-squared:", adj_r2)

Adjusted R-squared: 683574742.4399344